In [1]:
import pandas as pd
import numpy as np

#### Criando DataFrame:
-Datas

In [3]:
# criar DF de datas para 31 dias "ano mês dia"
# freq="D" frequência de dias opção padrão 
df_date_day = pd.date_range("20221201", periods=31)
df_date_day

DatetimeIndex(['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04',
               '2022-12-05', '2022-12-06', '2022-12-07', '2022-12-08',
               '2022-12-09', '2022-12-10', '2022-12-11', '2022-12-12',
               '2022-12-13', '2022-12-14', '2022-12-15', '2022-12-16',
               '2022-12-17', '2022-12-18', '2022-12-19', '2022-12-20',
               '2022-12-21', '2022-12-22', '2022-12-23', '2022-12-24',
               '2022-12-25', '2022-12-26', '2022-12-27', '2022-12-28',
               '2022-12-29', '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='D')

In [2]:
# df com o último dia de cada mês:
df_date_month = pd.date_range("20230131", periods=12, freq="M")
df_date_month

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31'],
              dtype='datetime64[ns]', freq='M')

In [8]:
# df com o último dia de cada mês:
df_date_year = pd.date_range("20230131", periods=10, freq="Y")
df_date_year

DatetimeIndex(['2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31', '2029-12-31', '2030-12-31',
               '2031-12-31', '2032-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [12]:
# df com 5 linhas e 1 coluna
number_random_1 = pd.DataFrame(np.random.rand(5,1))
number_random_1

          0
0  0.797514
1  0.979401
2  0.271526
3  0.072805
4  0.452752

In [14]:
# df com 5 linhas e 2 coluna
number_random_2 = pd.DataFrame(np.random.rand(5,2)*100)
number_random_2

           0          1
0  77.812827   7.734265
1  50.746122  39.564988
2  41.974569  14.930508
3  40.640265  73.316964
4  29.467363  59.489648

In [16]:
# df com 5 linhas e 2 coluna
notas_alunos = pd.DataFrame({
    "Nome": ["Diana", "Clark", "Bruce"],
    "Média":[9, 5, 7]
})
notas_alunos

    Nome  Média
0  Diana      9
1  Clark      5
2  Bruce      7