In [1]:
import pandas as pd

In [5]:
# df com 5 linhas e 2 coluna
df_notas = pd.DataFrame({
    "Nome": ["Diana", "Clark", "Bruce"],
    "Port":[9, 7, 8],
    "Mat":[7, 5, 9]
})
df_notas

    Nome  Port  Mat
0  Diana     9    7
1  Clark     7    5
2  Bruce     8    9

In [6]:
# add Coluna
df_notas["Média"] = (df_notas["Port"] + df_notas["Mat"]) / 2
df_notas

    Nome  Port  Mat  Média
0  Diana     9    7    8.0
1  Clark     7    5    6.0
2  Bruce     8    9    8.5

In [7]:
# df com valor padrão
df_notas["Faltas"] = 0
df_notas

    Nome  Port  Mat  Média  Faltas
0  Diana     9    7    8.0       0
1  Clark     7    5    6.0       0
2  Bruce     8    9    8.5       0

In [9]:
df_notas["Faltas"] = [1,2,5]
df_notas

    Nome  Port  Mat  Média  Faltas
0  Diana     9    7    8.0       1
1  Clark     7    5    6.0       2
2  Bruce     8    9    8.5       5

In [10]:
# localizar e alterar valor específico: clark mat
df_notas.loc[1, "Mat"] = 6
df_notas

    Nome  Port  Mat  Média  Faltas
0  Diana     9    7    8.0       1
1  Clark     7    6    6.0       2
2  Bruce     8    9    8.5       5