In [1]:
import pandas as pd

In [2]:
df_notas1 = pd.DataFrame({
    "Nome": ["Diana", "Clark", "Bruce"],
    "Port":[9, 7, 8],
    "Mat":[7, 7, 9],
    "Bio":[7, 7, 7]
})
df_notas1

    Nome  Port  Mat  Bio
0  Diana     9    7    7
1  Clark     7    7    7
2  Bruce     8    9    7

In [5]:
df_ordenado = df_notas1.sort_values(by = "Nome", ascending = True)
df_ordenado

    Nome  Port  Mat  Bio
2  Bruce     8    9    7
1  Clark     7    7    7
0  Diana     9    7    7