In [1]:
import pandas as pd

In [2]:
df_notas1 = pd.DataFrame({
    "Nome": ["Diana", "Clark", "Bruce", "Arthur"],
    "Port":[9, 7, 8, 5],
    "Mat":[7, 5, 9, 4],
})
df_notas1

     Nome  Port  Mat
0   Diana     9    7
1   Clark     7    5
2   Bruce     8    9
3  Arthur     5    4

In [3]:
df_notas2 = pd.DataFrame({
    "Bio":[0, 9, 8, 7],
    "Hist":[10, 2, 9, 5],
    "Nome": ["Diana", "Clark", "Bruce", "Barry"],
})
df_notas2

   Bio  Hist   Nome
0    0    10  Diana
1    9     2  Clark
2    8     9  Bruce
3    7     5  Barry

#### GroupBy