In [1]:
import pandas as pd
data_campinas = [23,25,28,28,32,33,35]
data_piracicaba = [16,24,26,26,26,27,28]

In [2]:
data_union = list(zip(data_campinas, data_piracicaba))
data_union

[(23, 16), (25, 24), (28, 26), (28, 26), (32, 26), (33, 27), (35, 28)]

In [3]:
df = pd.DataFrame(data_union, columns=["campinas", "piracicaba"])
df.head()

   campinas  piracicaba
0        23          16
1        25          24
2        28          26
3        28          26
4        32          26