In [6]:
import pandas
from collections import Counter

# POPULAÇÃO:
data = pandas.read_csv("csv/04-classificados_tratado.csv", sep=",", encoding="iso-8859-1")
data.shape

(81231, 28)

In [7]:
# AMOSTRAGEM: Cidade de Campinas
campinas = data.loc[data.NO_MUNICIPIO_RESIDENCIA == "Campinas"]
campinas.shape

(1982, 28)

In [10]:
# cria uma variável com a coluna idades da tab.
idades = campinas["IDADE"]
idades.shape, idades

((1982,),
 181      16
 233      16
 302      16
 304      17
 366      16
          ..
 81050    17
 81060    16
 81086    16
 81123    15
 81183    16
 Name: IDADE, Length: 1982, dtype: int64)

In [28]:
# FREQUÊNCIA ABSOLUTA: (Totais por grupo de idade)
frequencia_absoluta = Counter(idades)
frequencia_absoluta

Counter({16: 1119,
         17: 634,
         15: 150,
         30: 1,
         18: 63,
         50: 1,
         35: 1,
         26: 1,
         19: 8,
         23: 1,
         14: 1,
         20: 1,
         27: 1})

In [29]:
# Converte em dicionário e coloca em ordem crescente (False - Decrescente)
frequencia_absoluta = pandas.DataFrame.from_dict(frequencia_absoluta, orient="index").sort_index(ascending=True)
frequencia_absoluta

       0
14     1
15   150
16  1119
17   634
18    63
19     8
20     1
23     1
26     1
27     1
30     1
35     1
50     1

In [37]:
frequencia_absoluta.to_csv("csv/09-frequencia_absoluta.csv", encoding="iso-8859-1", index=False)

In [30]:
# FREQUENCIA RELATIVA (divisão da absoluta pelo total)
frequencia_relativa = frequencia_absoluta / frequencia_absoluta.sum()
frequencia_relativa

           0
14  0.000505
15  0.075681
16  0.564581
17  0.319879
18  0.031786
19  0.004036
20  0.000505
23  0.000505
26  0.000505
27  0.000505
30  0.000505
35  0.000505
50  0.000505

In [38]:
frequencia_relativa.to_csv("csv/09-frequencia_relativa.csv", encoding="iso-8859-1", index=False)

In [31]:
# FREQUENCIA RELATIVA PERCENTUAL (percentual de cada idade)
frequencia_relativa_percentual = frequencia_relativa * 100
frequencia_relativa_percentual

            0
14   0.050454
15   7.568113
16  56.458123
17  31.987891
18   3.178607
19   0.403633
20   0.050454
23   0.050454
26   0.050454
27   0.050454
30   0.050454
35   0.050454
50   0.050454

In [39]:
frequencia_relativa_percentual.to_csv("csv/09-frequencia_relativa_percentual.csv", encoding="iso-8859-1", index=False)