In [3]:
import pandas as pd
import numpy
from plotly import express

# POPULAÇÃO:
data = pd.read_csv("csv/04-classificados_tratado.csv", sep=",", encoding="iso-8859-1")
data.shape

(81231, 28)

In [4]:
# AMOSTRAGEM: Cidade de Campinas
campinas = data.loc[data.NO_MUNICIPIO_RESIDENCIA == "Campinas"]
campinas.shape

(1982, 28)

In [12]:
# MEDIDAS DE DISPERSÃO
# VARIÂNCIA:
data["IDADE"].var()

1.7852409055777334

In [13]:
# DESVIO PADRÃO:
data["IDADE"].std()

1.3361290751936108

In [15]:
# DESVIO ABSOLUTO:
data["IDADE"].mad()

0.5466461063595376

In [9]:
data["IDADE"].describe()

count    81231.000000
mean        16.206768
std          1.336129
min         13.000000
25%         16.000000
50%         16.000000
75%         17.000000
max         69.000000
Name: IDADE, dtype: float64

In [16]:
# Notas de matemática estão mais dispersas que as notas de redação.
round(data.NOTA_MT.std(), 2) ,round(data.NOTA_REDACAO.std(), 2)

(186.15, 154.6)

In [19]:
# Comparar apenas as colunas de notas
colunas_notas = ["NOTA_REDACAO", "NOTA_CN", "NOTA_MT", "NOTA_LC", "NOTA_CH"]
data[colunas_notas].describe()

       NOTA_REDACAO       NOTA_CN       NOTA_MT       NOTA_LC       NOTA_CH
count  81231.000000  81231.000000  81231.000000  81231.000000  81231.000000
mean     614.496190    466.780842    528.899041    501.430028    490.863711
std      154.600228    153.745706    186.145304    156.035444    161.576721
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%      540.000000    435.900000    465.500000    508.100000    469.400000
50%      620.000000    510.800000    567.500000    552.100000    539.900000
75%      700.000000    561.400000    651.350000    581.300000    585.600000
max      980.000000    834.300000    984.200000    801.700000    784.500000