In [1]:
import numpy
import pandas

# encoding: codificação de caracteres, normalmente utiliza-se o iso-8859-1, utf-8, latin-1)
data = pandas.read_csv(
    "/media/wagner/HD-250GB2/Estatistica_Analise_Dados/csv/microdados_enem_2019_sp.csv",
    sep=";",
    encoding="iso-8859-1",
)

In [2]:
# [813772 rows x 44 columns]
print(data)

       NU_INSCRICAO  CO_MUNICIPIO_RESIDENCIA NO_MUNICIPIO_RESIDENCIA  \
0          1,90E+11                  3546801            Santa Isabel
1          1,90E+11                  3538204             Pinhalzinho
2          1,90E+11                  3550308               São Paulo
3          1,90E+11                  3548708   São Bernardo do Campo
4          1,90E+11                  3549409    São Joaquim da Barra
...             ...                      ...                     ...
813767     1,90E+11                  3550308               São Paulo
813768     1,90E+11                  3550308               São Paulo
813769     1,90E+11                  3550308               São Paulo
813770     1,90E+11                  3509205                 Cajamar
813771     1,90E+11                  3503307                  Araras

        CO_UF_RESIDENCIA SG_UF_RESIDENCIA  NU_IDADE TP_SEXO  TP_ESTADO_CIVIL  \
0                     35               SP        22       M                1
1                     35               SP        19       M                1
2                     35               SP        17       F                1
3                     35               SP        19       M                1
4                     35               SP        37       M                2
...                  ...              ...       ...     ...              ...
813767                35               SP        17       F                1
813768                35               SP        17       F                1
813769                35               SP        17       M                1
813770                35               SP        21       F                1
813771                35               SP        18       F                1

        TP_COR_RACA  TP_NACIONALIDADE  ...  NU_NOTA_MT TP_LINGUA  \
0                 3                 1  ...      6002.0         0
1                 3                 1  ...         NaN         1
2                 3                 1  ...      7318.0         0
3                 3                 1  ...      3932.0         1
4                 1                 1  ...         NaN         1
...             ...               ...  ...         ...       ...
813767            2                 1  ...       432.0         1
813768            3                 1  ...      4873.0         0
813769            3                 1  ...      4011.0         0
813770            3                 1  ...         NaN         1
813771            1                 1  ...      5595.0         0

        TP_STATUS_REDACAO NU_NOTA_COMP1  NU_NOTA_COMP2  NU_NOTA_COMP3  \
0                     1.0         160.0          200.0          180.0
1                     NaN           NaN            NaN            NaN
2                     1.0         160.0          120.0          200.0
3                     1.0          80.0          160.0          120.0
4                     NaN           NaN            NaN            NaN
...                   ...           ...            ...            ...
813767                1.0          80.0          120.0          140.0
813768                1.0         120.0           80.0           60.0
813769                1.0         160.0          120.0          160.0
813770                NaN           NaN            NaN            NaN
813771                1.0         120.0          120.0          120.0

        NU_NOTA_COMP4  NU_NOTA_COMP5  NU_NOTA_REDACAO  Q025
0               200.0          200.0            940.0     B
1                 NaN            NaN              NaN     A
2               200.0          200.0            880.0     A
3               100.0          100.0            560.0     B
4                 NaN            NaN              NaN     B
...               ...            ...              ...   ...
813767          120.0          100.0            560.0     B
813768          120.0            0.0            380.0     B
813769          140.0          160.0            740.0     A
813770            NaN            NaN              NaN     B
813771          120.0          140.0            620.0     B

[813772 rows x 44 columns]

In [3]:
# visualizar o cabeçalho os 5 primeiros registros
# [5 rows x 44 columns]
data.head()

  NU_INSCRICAO  CO_MUNICIPIO_RESIDENCIA NO_MUNICIPIO_RESIDENCIA  \
0     1,90E+11                  3546801            Santa Isabel
1     1,90E+11                  3538204             Pinhalzinho
2     1,90E+11                  3550308               São Paulo
3     1,90E+11                  3548708   São Bernardo do Campo
4     1,90E+11                  3549409    São Joaquim da Barra

   CO_UF_RESIDENCIA SG_UF_RESIDENCIA  NU_IDADE TP_SEXO  TP_ESTADO_CIVIL  \
0                35               SP        22       M                1
1                35               SP        19       M                1
2                35               SP        17       F                1
3                35               SP        19       M                1
4                35               SP        37       M                2

   TP_COR_RACA  TP_NACIONALIDADE  ...  NU_NOTA_MT TP_LINGUA  \
0            3                 1  ...      6002.0         0
1            3                 1  ...         NaN         1
2            3                 1  ...      7318.0         0
3            3                 1  ...      3932.0         1
4            1                 1  ...         NaN         1

   TP_STATUS_REDACAO NU_NOTA_COMP1  NU_NOTA_COMP2  NU_NOTA_COMP3  \
0                1.0         160.0          200.0          180.0
1                NaN           NaN            NaN            NaN
2                1.0         160.0          120.0          200.0
3                1.0          80.0          160.0          120.0
4                NaN           NaN            NaN            NaN

   NU_NOTA_COMP4  NU_NOTA_COMP5  NU_NOTA_REDACAO  Q025
0          200.0          200.0            940.0     B
1            NaN            NaN              NaN     A
2          200.0          200.0            880.0     A
3          100.0          100.0            560.0     B
4            NaN            NaN              NaN     B

[5 rows x 44 columns]

In [11]:
# especifica a quant. de registros
data.head(10)

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",3546801,Santa Isabel,35,SP,22,M,1,3,1,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",3538204,Pinhalzinho,35,SP,19,M,1,3,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",3550308,São Paulo,35,SP,17,F,1,3,1,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",3548708,São Bernardo do Campo,35,SP,19,M,1,3,1,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",3549409,São Joaquim da Barra,35,SP,37,M,2,1,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
5,"1,90E+11",3515103,Embu-Guaçu,35,SP,17,F,1,3,1,...,4192.0,0,1.0,120.0,120.0,120.0,120.0,80.0,560.0,B
6,"1,90E+11",3549904,São José dos Campos,35,SP,28,F,1,1,1,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
7,"1,90E+11",3549904,São José dos Campos,35,SP,25,F,2,1,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
8,"1,90E+11",3518800,Guarulhos,35,SP,23,F,1,1,1,...,7961.0,0,1.0,160.0,200.0,180.0,180.0,160.0,880.0,B
9,"1,90E+11",3550308,São Paulo,35,SP,19,F,1,3,1,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

In [4]:
# total da matriz L x C
data.shape

(813772, 44)

In [5]:
# Tipo dos dados por coluna
data.dtypes

NU_INSCRICAO                object
CO_MUNICIPIO_RESIDENCIA      int64
NO_MUNICIPIO_RESIDENCIA     object
CO_UF_RESIDENCIA             int64
SG_UF_RESIDENCIA            object
NU_IDADE                     int64
TP_SEXO                     object
TP_ESTADO_CIVIL              int64
TP_COR_RACA                  int64
TP_NACIONALIDADE             int64
CO_MUNICIPIO_NASCIMENTO    float64
NO_MUNICIPIO_NASCIMENTO     object
CO_UF_NASCIMENTO           float64
SG_UF_NASCIMENTO            object
TP_ST_CONCLUSAO              int64
TP_ANO_CONCLUIU              int64
TP_ESCOLA                    int64
TP_ENSINO                  float64
IN_TREINEIRO                 int64
CO_ESCOLA                  float64
CO_MUNICIPIO_ESC           float64
NO_MUNICIPIO_ESC            object
CO_UF_ESC                  float64
SG_UF_ESC                   object
TP_DEPENDENCIA_ADM_ESC     float64
TP_LOCALIZACAO_ESC         float64
TP_SIT_FUNC_ESC            float64
TP_PRESENCA_CN               int64
TP_PRESENCA_CH               int64
TP_PRESENCA_LC               int64
TP_PRESENCA_MT               int64
NU_NOTA_CN                 float64
NU_NOTA_CH                 float64
NU_NOTA_LC                 float64
NU_NOTA_MT                 float64
TP_LINGUA                    int64
TP_STATUS_REDACAO          float64
NU_NOTA_COMP1              float64
NU_NOTA_COMP2              float64
NU_NOTA_COMP3              float64
NU_NOTA_COMP4              float64
NU_NOTA_COMP5              float64
NU_NOTA_REDACAO            float64
Q025                        object
dtype: object

In [10]:
# excluir colunas "," no final quando forem mais de 1
data2 = data.drop(columns=["CO_MUNICIPIO_RESIDENCIA", 'CO_UF_RESIDENCIA','SG_UF_RESIDENCIA','CO_MUNICIPIO_NASCIMENTO'],)
data2.dtypes

NU_INSCRICAO                object
NO_MUNICIPIO_RESIDENCIA     object
NU_IDADE                     int64
TP_SEXO                     object
TP_ESTADO_CIVIL              int64
TP_COR_RACA                  int64
TP_NACIONALIDADE             int64
NO_MUNICIPIO_NASCIMENTO     object
CO_UF_NASCIMENTO           float64
SG_UF_NASCIMENTO            object
TP_ST_CONCLUSAO              int64
TP_ANO_CONCLUIU              int64
TP_ESCOLA                    int64
TP_ENSINO                  float64
IN_TREINEIRO                 int64
CO_ESCOLA                  float64
CO_MUNICIPIO_ESC           float64
NO_MUNICIPIO_ESC            object
CO_UF_ESC                  float64
SG_UF_ESC                   object
TP_DEPENDENCIA_ADM_ESC     float64
TP_LOCALIZACAO_ESC         float64
TP_SIT_FUNC_ESC            float64
TP_PRESENCA_CN               int64
TP_PRESENCA_CH               int64
TP_PRESENCA_LC               int64
TP_PRESENCA_MT               int64
NU_NOTA_CN                 float64
NU_NOTA_CH                 float64
NU_NOTA_LC                 float64
NU_NOTA_MT                 float64
TP_LINGUA                    int64
TP_STATUS_REDACAO          float64
NU_NOTA_COMP1              float64
NU_NOTA_COMP2              float64
NU_NOTA_COMP3              float64
NU_NOTA_COMP4              float64
NU_NOTA_COMP5              float64
NU_NOTA_REDACAO            float64
Q025                        object
dtype: object