In [19]:
import pandas

data3 = pandas.read_csv(
    "treineiros_enem_2019_sp.csv",
    sep=",",
    encoding="iso-8859-1",
)
data3.shape

(93988, 29)

In [20]:
data3.head(3)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,IN_TREINEIRO,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santos,15,F,1,parda,1,3,não_respondeu,1,...,573.2,Inglês,1.0,140.0,120.0,120.0,100.0,80.0,560.0,Sim
1,"1,90E+11",Panorama,16,F,1,parda,1,3,não_respondeu,1,...,NaN,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Não
2,"1,90E+11",São Paulo,16,F,1,branca,1,3,não_respondeu,1,...,532.6,Inglês,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim

In [21]:
#  analisar presença 1 ok, 0 faltaram, 2 eliminados
# CN (Ciencia natureza) / prova dia 01
data3["TP_PRESENCA_CN"].value_counts()

1    81787
0    12163
2       38
Name: TP_PRESENCA_CN, dtype: int64

In [22]:
# ch ciencias humanas / prova dia 02
data3["TP_PRESENCA_CH"].value_counts()

1    87490
0     6424
2       74
Name: TP_PRESENCA_CH, dtype: int64

In [23]:
# lc linguagem e código / prova dia 02
data3["TP_PRESENCA_LC"].value_counts()

1    87490
0     6424
2       74
Name: TP_PRESENCA_LC, dtype: int64

In [24]:
# MT matemática / prova dia 01
data3["TP_PRESENCA_MT"].value_counts()

1    81787
0    12163
2       38
Name: TP_PRESENCA_MT, dtype: int64

In [25]:
# status redação 1 nenhum problema
data3["TP_STATUS_REDACAO"].value_counts().sort_index()

1.0    85826
2.0       57
3.0      200
4.0      977
6.0      256
7.0       13
8.0      121
9.0       40
Name: TP_STATUS_REDACAO, dtype: int64

In [30]:
# verificar se existem valores nulos "em branco", não inclui o zero.
# soma a quantidade de registros
data3["NOTA_CN"].isnull().sum()

12201

In [41]:
# Agrupar em uma variável todas as colunas com notas de provas
# soma do total de faltas registros individual de cada coluna
# as q têm o mesmo número foram aplicadas no mesmo dia
# tests passado como variável no array do data3 para soma
tests = ["NOTA_REDACAO", "NOTA_CN", "NOTA_MT", "NOTA_LC", "NOTA_CN"]
data3[tests].isnull().sum()

NOTA_REDACAO     6498
NOTA_CN         12201
NOTA_MT         12201
NOTA_LC          6498
NOTA_CN         12201
dtype: int64

In [42]:
# soma a quantidade de presenças, mesma quant. mesmo dia.
total_attendances = ["TP_PRESENCA_CN", "TP_PRESENCA_CH", "TP_PRESENCA_LC", "TP_PRESENCA_MT"]
data3[total_attendances].sum()

TP_PRESENCA_CN    81863
TP_PRESENCA_CH    87638
TP_PRESENCA_LC    87638
TP_PRESENCA_MT    81863
dtype: int64

In [49]:
# Cria uma Coluna com a soma dos valores de presenças se for igual a 4 participou dos 2 dias
# soma a quant. se o valor for igual a 1
total_attendances2 = ["TP_PRESENCA_CN", "TP_PRESENCA_CH", "TP_PRESENCA_LC", "TP_PRESENCA_MT"]
data3["presenca_total"] = data3[total_attendances2].sum(axis=1)
data3.head(5)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,IN_TREINEIRO,...,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET,presenca_total
0,"1,90E+11",Santos,15,F,1,parda,1,3,não_respondeu,1,...,Inglês,1.0,140.0,120.0,120.0,100.0,80.0,560.0,Sim,4
1,"1,90E+11",Panorama,16,F,1,parda,1,3,não_respondeu,1,...,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Não,0
2,"1,90E+11",São Paulo,16,F,1,branca,1,3,não_respondeu,1,...,Inglês,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim,4
3,"1,90E+11",Águas de Lindóia,16,M,1,branca,1,3,não_respondeu,1,...,Espanhol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sim,0
4,"1,90E+11",Águas de Lindóia,15,M,1,branca,1,3,não_respondeu,1,...,Inglês,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sim,0

In [50]:
# contagem dos totais de presenças por valores recebidos 6-desclassificados
data3["presenca_total"].value_counts().sort_index()

0     5887
2     6758
4    81286
6       57
Name: presenca_total, dtype: int64

In [53]:
# buscar apenas os q têm presença total igual a 4
total_attendances3 = data3.loc[data3.presenca_total == 4]

In [60]:
# problema ainda existem q estavam presentes mas forma desclassificados
# "TP_PRESENCA_CN", "TP_PRESENCA_CH", "TP_PRESENCA_LC", "TP_PRESENCA_MT"
total_attendances3["TP_PRESENCA_CN"].value_counts().sort_index()

0       55
1    81231
Name: TP_PRESENCA_CN, dtype: int64

In [61]:
total_attendances3["TP_PRESENCA_LC"].value_counts().sort_index()

1    81231
2       55
Name: TP_PRESENCA_LC, dtype: int64

In [62]:
test_classified = total_attendances3.loc[total_attendances3.TP_PRESENCA_CN == 1]

In [65]:
# "TP_PRESENCA_CN", "TP_PRESENCA_CH", "TP_PRESENCA_LC", "TP_PRESENCA_MT"
test_classified["TP_PRESENCA_CN"].value_counts().sort_index()

1    81231
Name: TP_PRESENCA_CN, dtype: int64

In [68]:

test_classified.shape

(81231, 30)

In [70]:
# verificar se ainda existem provas com valores ausentes conforme feito antes:
tests = ["NOTA_REDACAO", "NOTA_CN", "NOTA_MT", "NOTA_LC", "NOTA_CN"]
test_classified[tests].isnull().sum()

NOTA_REDACAO    0
NOTA_CN         0
NOTA_MT         0
NOTA_LC         0
NOTA_CN         0
dtype: int64

In [72]:
# salvar resultado com apenas os classificados
test_classified.to_csv("classificados.csv", encoding="iso-8859-1", index=False)