In [1]:
import pandas

data4 = pandas.read_csv(
    "classificados.csv",
    sep=",",
    encoding="iso-8859-1",
)
data4.shape

(81231, 30)

In [2]:
data4.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,IN_TREINEIRO,...,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET,presenca_total
0,"1,90E+11",Santos,15,F,1,parda,1,3,não_respondeu,1,...,Inglês,1.0,140.0,120.0,120.0,100.0,80.0,560.0,Sim,4
1,"1,90E+11",São Paulo,16,F,1,branca,1,3,não_respondeu,1,...,Inglês,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim,4
2,"1,90E+11",Caconde,16,F,1,branca,1,3,não_respondeu,1,...,Inglês,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim,4
3,"1,90E+11",São Paulo,17,F,1,branca,1,3,não_respondeu,1,...,Inglês,1.0,140.0,120.0,120.0,160.0,80.0,620.0,Sim,4
4,"1,90E+11",Itaporanga,17,F,1,amarela,1,3,não_respondeu,1,...,Espanhol,1.0,100.0,140.0,120.0,120.0,0.0,480.0,Sim,4

In [3]:
# Query de busca de notas de redação q conta os valores com notas 0
# nota da redação soma dos comp1 até 5
data4.query('NOTA_REDACAO == 0')["NOTA_REDACAO"].value_counts()

0.0    1256
Name: NOTA_REDACAO, dtype: int64

In [7]:
data4.query('NOTA_CH == 0')["NOTA_CH"].value_counts()

0.0    49
Name: NOTA_CH, dtype: int64

In [13]:
# Ciencias humanas
data4.query('NOTA_CH == 0')["NOTA_CH"].value_counts()

0.0    49
Name: NOTA_CH, dtype: int64

In [12]:
# Ciencias da natureza
data4.query('NOTA_CN == 0')["NOTA_CN"].value_counts()

0.0    11
Name: NOTA_CN, dtype: int64

In [14]:
# Linguagens e códigos
data4.query('NOTA_LC == 0')["NOTA_LC"].value_counts()

0.0    20
Name: NOTA_LC, dtype: int64

In [16]:
# MATEMÁTICA
data4.query('NOTA_MT == 0')["NOTA_MT"].value_counts()

0.0    9
Name: NOTA_MT, dtype: int64

In [18]:
# remover colunas usadas para filtro
test_classified2 = data4.drop(columns=["IN_TREINEIRO", "presenca_total"])

In [20]:
test_classified2.shape

(81231, 28)

In [21]:
test_classified2.head(2)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santos,15,F,1,parda,1,3,não_respondeu,NaN,...,573.2,Inglês,1.0,140.0,120.0,120.0,100.0,80.0,560.0,Sim
1,"1,90E+11",São Paulo,16,F,1,branca,1,3,não_respondeu,NaN,...,532.6,Inglês,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim

In [22]:
# salvar resultado com apenas os classificados
test_classified2.to_csv("csv/04-classificados_tratado.csv", encoding="iso-8859-1", index=False)