In [1]:
import numpy
import pandas

# POPULAÇÃO:
data5 = pandas.read_csv("csv/04-classificados_tratado.csv", sep=",", encoding="iso-8859-1")

In [2]:
data5.head(2)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santos,15,F,1,parda,1,3,não_respondeu,NaN,...,573.2,Inglês,1.0,140.0,120.0,120.0,100.0,80.0,560.0,Sim
1,"1,90E+11",São Paulo,16,F,1,branca,1,3,não_respondeu,NaN,...,532.6,Inglês,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim

In [3]:
data5.shape

(81231, 28)

In [4]:
# AMOSTRAGEM: Cidade de Campinas
campinas = data5.loc[data5.NO_MUNICIPIO_RESIDENCIA == "Campinas"]
campinas.shape

(1982, 28)

In [5]:
# AMOSTRAGEM SIMPLES: (Seleção aleatória sem filtro)
# Criar uma "semente" de valor aleatório que será sempre igual
# gera sempre a mesma resposta (ver index panda sempre o mesmo),
# senão for definido cada vez q rodar gera uma amostragem diferente
numpy.random.seed(1)

In [6]:
# sample (aleatório)
# frac (fração capturar uma amostragem aleatória de 30% da população)
amostragem_simples_percentual = campinas.sample(frac=0.30)
amostragem_simples_percentual.shape

(595, 28)

In [7]:
# frac (fração capturar uma amostragem aleatória numérica de xxx da população)
amostragem_simples_numerica = campinas.sample(595)
amostragem_simples_numerica.shape

(595, 28)

In [8]:
amostragem_simples_numerica.head(3)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
49162,"1,90E+11",Campinas,16,F,1,branca,1,3,não_respondeu,NaN,...,63.9,Inglês,1.0,120.0,40.0,40.0,140.0,40.0,380.0,Sim
77182,"1,90E+11",Campinas,16,F,0,branca,1,3,não_respondeu,NaN,...,448.7,Inglês,1.0,140.0,120.0,120.0,120.0,80.0,580.0,Sim
59770,"1,90E+11",Campinas,17,M,1,branca,1,3,não_respondeu,NaN,...,701.1,Inglês,1.0,120.0,180.0,120.0,160.0,160.0,740.0,Sim

In [9]:
# Alterar o número mantém as amostragens iguais em cima e muda as próximas variáveis
numpy.random.seed(2)

In [10]:
# OU
# AMOSTRAGEM SIMPLES (outra forma mais complexa)
# Cria um array com números 0 (80%) e 1(20%) com a quant. de linhas da matriz principal
array_de_opcoes = [0,1]
array_binario_aleatorio = numpy.random.choice(array_de_opcoes, size=1982, replace=True, p=[0.8, 0.2])
# OU
# array_binario_aleatorio = numpy.random.choice(array_de_opcoes=[0,1], size=13198, replace=True, p=[0.8, 0.2])
array_binario_aleatorio

array([0, 0, 0, ..., 0, 1, 0])

In [11]:
# 20% de 1
len(array_binario_aleatorio[array_binario_aleatorio == 1])

390

In [12]:
# Coleta a amostragem conforme 
amostra_campinas_binario_1 = campinas.loc[array_binario_aleatorio == 1]
amostra_campinas_binario_1.shape

(390, 28)

In [13]:
amostra_campinas_binario_1.head(2)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
890,"1,90E+11",Campinas,15,F,1,branca,1,3,não_respondeu,NaN,...,541.8,Inglês,1.0,180.0,140.0,120.0,120.0,100.0,660.0,Sim
940,"1,90E+11",Campinas,16,F,1,branca,1,3,não_respondeu,NaN,...,501.9,Inglês,1.0,140.0,120.0,120.0,160.0,160.0,700.0,Sim

In [22]:
amostragem_simples_percentual.to_csv("csv/05-amostragem_simples_percentual.csv", encoding="iso-8859-1", index=False)
amostragem_simples_numerica.to_csv("csv/05-amostragem_simples_numerica.csv", encoding="iso-8859-1", index=False)