In [29]:
import numpy
import pandas
from sklearn.model_selection import train_test_split

# POPULAÇÃO:
data7 = pandas.read_csv("csv/04-classificados_tratado.csv", sep=",", encoding="iso-8859-1")
data7.shape

(81231, 28)

In [30]:
# AMOSTRAGEM: Cidade de Campinas
campinas = data7.loc[data7.NO_MUNICIPIO_RESIDENCIA == "Campinas"]
campinas.shape

(1982, 28)

In [31]:
# AMOSTRAGEM ESTRATIFICADA: (Divisão da pop. em grupos, e retira uma amostra desses grupos)
campinas["RACA"].value_counts()

branca           1538
parda             287
preta              61
amarela            57
nao_declarado      37
indigena            2
Name: RACA, dtype: int64

In [32]:
# criar tabelas com amostragem de 10% de cada raça
branca = campinas.loc[campinas.RACA == "branca"].sample(frac=0.10)
parda = campinas.loc[campinas.RACA == "parda"].sample(frac=0.10)
preta = campinas.loc[campinas.RACA == "preta"].sample(frac=0.10)
amarela = campinas.loc[campinas.RACA == "amarela"].sample(frac=0.10)
nao_declarado = campinas.loc[campinas.RACA == "nao_declarado"].sample(frac=0.10)
indigena = campinas.loc[campinas.RACA == "indigena"].sample(frac=0.10)
branca.shape, parda.shape, preta.shape, amarela.shape, nao_declarado.shape, indigena.shape

((154, 28), (29, 28), (6, 28), (6, 28), (4, 28), (0, 28))

In [33]:
# concatenar, juntar tabelas:
amostra_estratificada = pandas.concat([branca, parda, preta, amarela, nao_declarado, indigena])
amostra_estratificada.shape

(199, 28)

In [34]:
amostra_estratificada.head(3)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
55348,"1,90E+11",Campinas,16,M,1,branca,1,3,nï¿½o_respondeu,NaN,...,70.6,Inglï¿½s,1.0,160.0,120.0,160.0,160.0,160.0,760.0,Sim
51236,"1,90E+11",Campinas,16,F,1,branca,1,3,nï¿½o_respondeu,NaN,...,598.1,Inglï¿½s,1.0,160.0,180.0,200.0,200.0,200.0,940.0,Sim
42263,"1,90E+11",Campinas,17,F,1,branca,1,3,nï¿½o_respondeu,NaN,...,410.2,Inglï¿½s,3.0,0.0,0.0,0.0,0.0,0.0,0.0,Sim

In [50]:
amostra_estratificada.to_csv("csv/07-amostra_estratificada.csv", encoding="iso-8859-1", index=False)

In [36]:
# OU
# train_test_split
# axis 1 representa coluna, axis 0 linha
# vai extrair 10% dessa coluna
# ERRO se não tiver mais q 1 elemento da mesma raça
X_treino, X_teste, y_treino, amostra_estratificada_2 = train_test_split(campinas.drop('RACA',axis=1),campinas['RACA'], stratify=campinas['RACA'], test_size=0.10)
amostra_estratificada_2.shape, amostra_estratificada_2.head()

((199,),
 33072    branca
 25495    branca
 77407    branca
 8865      preta
 54255     parda
 Name: RACA, dtype: object)

In [37]:
amostra_estratificada_2.value_counts()

branca           154
parda             29
preta              6
amarela            6
nao_declarado      4
Name: RACA, dtype: int64

In [41]:
# visulaizar os índices
amostra_estratificada_2.index

Int64Index([33072, 25495, 77407,  8865, 54255, 78243, 49836, 60909, 23103,
            66067,
            ...
            19720,  3962, 48225, 78206, 68878,  4391, 53501, 71505, 20391,
            39512],
           dtype='int64', length=199)

In [44]:
# caputra os indices
index_amostras = amostra_estratificada_2.index

In [48]:
# através dos índeces pega todos os campos da planilha original
amostra_estratificada_2_campos = campinas.loc[index_amostras, :]
amostra_estratificada_2_campos.shape

(199, 28)

In [49]:
amostra_estratificada_2_campos.head(2)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
33072,"1,90E+11",Campinas,17,F,1,branca,1,3,nï¿½o_respondeu,NaN,...,56.6,Inglï¿½s,1.0,140.0,120.0,120.0,140.0,120.0,640.0,Sim
25495,"1,90E+11",Campinas,17,F,1,branca,1,3,nï¿½o_respondeu,NaN,...,557.5,Inglï¿½s,1.0,120.0,120.0,120.0,140.0,160.0,660.0,Sim

In [51]:
# Gera uma planilha igual a anterior (199L x 28C)
amostra_estratificada_2_campos.to_csv("csv/07-amostra_estratificada_2_campos.csv", encoding="iso-8859-1", index=False)