In [22]:
import numpy
import pandas

# POPULAÇÃO:
data8 = pandas.read_csv("csv/04-classificados_tratado.csv", sep=",", encoding="iso-8859-1")
data8.shape

(81231, 28)

In [23]:
# AMOSTRAGEM: Cidade de Campinas
campinas = data8.loc[data8.NO_MUNICIPIO_RESIDENCIA == "Campinas"]
campinas.shape

(1982, 28)

In [43]:
# AMOSTRAGEM CONGLOERADO "Agrupamentos" 
# (Divisão da pop. em grupos com características semelhantes, 
# Seleção aleatória de alguns grupos, analisa TODOS EL dos grupos selecionados)
# ex. pessoas brancas da mesma idade
brancas = campinas.loc[campinas.RACA == "branca"]
brancas.shape

(1538, 28)

In [44]:
amostras_todas_idades = brancas["IDADE"].value_counts()
amostras_todas_idades

16    871
17    486
15    128
18     43
19      7
23      1
14      1
20      1
Name: IDADE, dtype: int64

In [45]:
# gera um índice para cada idade total de 8
amostras_todas_idades.index

Int64Index([16, 17, 15, 18, 19, 23, 14, 20], dtype='int64')

In [74]:
# Gera um array binário do tamanho dos índices de idade com percentual de 50% cada
indice_array_binario = numpy.random.choice(a=[0,1],size=8, replace=True, p=[0.80, 0.20])
indice_array_binario

array([0, 1, 0, 1, 0, 0, 0, 0])

In [75]:
# Não foi definida semente cada vez vai pegar um índice diferente
amostragem_conglomerado = amostras_todas_idades.loc[indice_array_binario == 1]
amostragem_conglomerado

17    486
18     43
Name: IDADE, dtype: int64

In [76]:
amostragem_conglomerado.index

Int64Index([17, 18], dtype='int64')

In [78]:
# isin busca os códigos 
amos_conglomerado = brancas.loc[brancas['IDADE'].isin([17, 18])]
amos_conglomerado

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
304,"1,90E+11",Campinas,17,M,1,branca,1,3,nï¿½o_respondeu,NaN,...,745.3,Inglï¿½s,1.0,160.0,200.0,180.0,200.0,140.0,880.0,Sim
373,"1,90E+11",Campinas,17,F,1,branca,1,3,nï¿½o_respondeu,NaN,...,436.8,Inglï¿½s,1.0,120.0,120.0,140.0,120.0,120.0,620.0,Sim
532,"1,90E+11",Campinas,17,F,1,branca,1,3,nï¿½o_respondeu,NaN,...,626.7,Inglï¿½s,1.0,120.0,120.0,120.0,120.0,160.0,640.0,Sim
539,"1,90E+11",Campinas,17,F,1,branca,1,3,nï¿½o_respondeu,NaN,...,509.8,Inglï¿½s,1.0,100.0,120.0,80.0,120.0,120.0,540.0,Sim
578,"1,90E+11",Campinas,17,F,1,branca,1,3,nï¿½o_respondeu,NaN,...,416.4,Inglï¿½s,1.0,120.0,120.0,100.0,100.0,0.0,440.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80852,"1,90E+11",Campinas,17,M,1,branca,1,3,nï¿½o_respondeu,NaN,...,615.3,Inglï¿½s,1.0,140.0,120.0,120.0,120.0,160.0,660.0,Sim
80903,"1,90E+11",Campinas,17,M,1,branca,1,3,nï¿½o_respondeu,NaN,...,689.6,Inglï¿½s,1.0,160.0,120.0,140.0,160.0,140.0,720.0,Sim
80929,"1,90E+11",Campinas,17,F,1,branca,1,3,nï¿½o_respondeu,NaN,...,394.3,Inglï¿½s,1.0,120.0,120.0,100.0,100.0,40.0,480.0,Sim
80991,"1,90E+11",Campinas,18,M,1,branca,1,3,nï¿½o_respondeu,NaN,...,412.5,Inglï¿½s,1.0,160.0,40.0,40.0,140.0,0.0,380.0,Sim
81050,"1,90E+11",Campinas,17,M,1,branca,1,3,nï¿½o_respondeu,NaN,...,593.3,Inglï¿½s,1.0,120.0,160.0,120.0,120.0,160.0,680.0,Sim

In [79]:
amos_conglomerado.to_csv("csv/08-amostragem_conglomerado.csv", encoding="iso-8859-1", index=False)