In [11]:
import pandas as pd
import random
import numpy as np

file_census = "../data_base/census.csv"

dataset = pd.read_csv(file_census)

# Indica o número de Linhas e colunas
dataset.shape

(32561, 15)

In [12]:
# Amostrage Sistemática
# Identificar o tamanho da População dataset e dividir pelo número de amostras q serão coletadas
amostras = 100
populacao = len(dataset)
intervalo = round(populacao / amostras)
print(intervalo)

326

In [13]:
# selecionar um valor aleatório para primeira amostra
random.seed(1)
primeira_amostra = random.randint(0, intervalo)
print(primeira_amostra)

68

In [14]:
# Primeira amostra 68
# Segunda = 68 + 326
# Terceira = seg + 326
segunda_amostra = primeira_amostra + intervalo
terceira_amostra = segunda_amostra + intervalo
print(primeira_amostra, segunda_amostra, terceira_amostra)

68 394 720

In [15]:
# np.arange Gera números, sem laço de repetição
# valor inicial, final e step valor do intervalo
sequencia_amostras = np.arange(primeira_amostra, populacao, step = intervalo)
print(sequencia_amostras)

[   68   394   720  1046  1372  1698  2024  2350  2676  3002  3328  3654
  3980  4306  4632  4958  5284  5610  5936  6262  6588  6914  7240  7566
  7892  8218  8544  8870  9196  9522  9848 10174 10500 10826 11152 11478
 11804 12130 12456 12782 13108 13434 13760 14086 14412 14738 15064 15390
 15716 16042 16368 16694 17020 17346 17672 17998 18324 18650 18976 19302
 19628 19954 20280 20606 20932 21258 21584 21910 22236 22562 22888 23214
 23540 23866 24192 24518 24844 25170 25496 25822 26148 26474 26800 27126
 27452 27778 28104 28430 28756 29082 29408 29734 30060 30386 30712 31038
 31364 31690 32016 32342]

In [16]:
# FN de amostra sistemática:
# iloc localiza no df os valores referentes aos índices
def sample_systematic(dataset, sample_quantity):
    population_quantity = len(dataset)
    interval = round(population_quantity / sample_quantity)
    # random.seed(1)
    begin = random.randint(0, interval)
    indices = np.arange(begin, population_quantity, step= interval)
    print(indices)
    df_samples = dataset.iloc[indices]
    return df_samples

In [21]:
df_samples_systematic = sample_systematic(dataset, 100)
df_samples_systematic.shape

[   68   394   720  1046  1372  1698  2024  2350  2676  3002  3328  3654
  3980  4306  4632  4958  5284  5610  5936  6262  6588  6914  7240  7566
  7892  8218  8544  8870  9196  9522  9848 10174 10500 10826 11152 11478
 11804 12130 12456 12782 13108 13434 13760 14086 14412 14738 15064 15390
 15716 16042 16368 16694 17020 17346 17672 17998 18324 18650 18976 19302
 19628 19954 20280 20606 20932 21258 21584 21910 22236 22562 22888 23214
 23540 23866 24192 24518 24844 25170 25496 25822 26148 26474 26800 27126
 27452 27778 28104 28430 28756 29082 29408 29734 30060 30386 30712 31038
 31364 31690 32016 32342]

(100, 15)

In [20]:
df_samples_systematic.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
68,49,Self-emp-inc,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
394,34,Private,196164,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,35,United-States,<=50K
720,33,Private,182556,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K
1046,64,?,196288,Assoc-acdm,12,Never-married,?,Not-in-family,White,Female,0,0,20,United-States,<=50K
1372,43,Private,221550,Masters,14,Never-married,Other-service,Not-in-family,White,Female,0,0,30,Poland,<=50K